header{
    text-align:center;
    padding:40px;
    background-color: #EC33FF;
}
html, body{
    padding:0;
    margin:0;
}

header img{
    border-radius:150px;
    width:300px;
    border:1px solid;
    margin-right: 300px;

}

body h2{
    text-align: center;
}
body img{
    border-radius:150px;
    width:300px;
    border:7px solid #0033cc;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px;

}
h1{
    color:white;
    font-size:60px;

}
 h2{
    color:#0033cc;
    font-size:40px;

}

h3    {
    font-size:40px;
    color:#000066;
}
h4{
    font-size:20px;
}
h5{
    font-size:25px;
    color:#6600ff;
}

h6{font-size:18px;
}

.myface{

}



.content{
    max-width: 900px;
    margin:0 auto;
}


.topbar {
 
  overflow: hidden;
  top:0;
  right:0     ;
}
.topbar h2{
text-align: right;
margin-right:250px;
}
.topbar a {
  float: right;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}


.topbar a:hover {
 background: #fff;
  color: #333;
}
footer{
    margin-left: 25px
}
